input.y-input{
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  background: none;
}
.windy-picker-modal-mask.date-time-picker{
  .wheel-scroll{
    .wheel-item{
      font-size: 14px;
    }
  }
}
