@import "reset";
@import "variable";
@import "mixin";

body {
  margin: 0;
  @include font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input{
  @include font-family;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  background: $color-background-body;
}
a{
  color: $color-theme;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
  outline: none;
  &:hover{
    color: lighten($color-theme, 0.2);
  }
  &:active, &:focus{
    color: darken($color-theme, 0.2);
  }
}
