@import "../../../common/style/mixin";

.icon-demo-wrapper{
  display: flex;
  flex-wrap: wrap;
  .icon-demo-item{
    width: 25%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .windy-icon{
      margin: 10px 0;
      font-size: 18px;
    }
    .desc{
      font-size: 14px;
      display: inline-block;
      @include no-wrap;
    }
    &:active{
      background: #f3f3f3;
    }
    .loading-animation{
      @keyframes rotate {
        0%{
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(360deg);
        }
      }
      animation: rotate linear 1s infinite;
    }
  }
}
