@import "../../common/style/variable";
@import "../../common/style/mixin";

.y-form{
  .y-label{
    &.required{
      position: relative;
      &:before{
        content: '*';
        position: absolute;
        top: 0;
        right: 100%;
        color: $color-danger;
      }
    }
  }
  .windy-item-extra{
    display: flex;
    align-items: center;
  }
  .input-after{
    display: inline-block;
    .windy-icon{
      font-size: 18px;
    }
    .required-icon{
      color: $color-theme;
    }
    .error-icon{
      color: $color-danger;
    }
    .required-icon, .error-icon{
      @include extend-click;
      display: flex;
      align-items: center;
    }
  }
}
