@import "../../common/style/variable";
@import "../../common/style/mixin";

.y-form{
  .y-label{
    &.required{
      position: relative;
      &:before{
        content: '*';
        position: absolute;
        top: 0;
        right: 100%;
        color: $color-error;
      }
    }
  }
  .input-after{
    display: inline-block;
    .required-icon{
      color: $color-theme;
      @include extend-click;
    }
    .error-icon{
      color: $color-error;
      @include extend-click;
    }
  }
}
