@import "../../common/style/variable";

.windy-progress-outer{
  width: 100%;
  display: flex;
  align-items: center;
  .windy-progress-inner{
    flex: 1;
    background-color: #f5f5f5;
    border-radius: 100px;
    overflow: hidden;
    .windy-progress-bg{
      height: 100%;
      background: $color-theme;
      transition: all ease .3s;
      position: relative;
      @keyframes progress {
        0%{
          width: 0;
          opacity: 1;
        }
        100%{
          width: 100%;
          opacity: 0;
        }
      }
      &:after{
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, .4);
        animation: progress 2.4s cubic-bezier(.23,1,.32,1) infinite;
      }
    }
  }
  .windy-progress-after{
    padding: 0 0 0 10px;
    font-size: 14px;
  }
}
.windy-circle-progress{
  position: relative;
  .circle-progress{
    display: block;
    .circle-trail{
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s ease 0s, stroke-width 0.06s ease 0.3s;
      stroke: #f5f5f5;
    }
    .circle-path{
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s ease 0s, stroke-width 0.06s ease 0.3s;
      stroke: $color-theme;
    }
  }
  .windy-circle-progress-middle{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
}
.progress-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
