@import "../../common/style/variable";
@import "../../common/style/mixin";

$lineHeight: 30px;

.windy-wheel-wrapper{
  font-size: 14px;
  padding: 20% 0;
  height: $lineHeight;
  overflow: hidden;
  position: relative;
  &:after{
    content: '';
    width: 100%;
    height: $lineHeight;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .wheel-scroll{
    .wheel-item{
      text-align: center;
      color: #333;
      line-height: $lineHeight;
      width: 100%;
      font-size: 18px;
      @include no-wrap;
    }
    .wheel-disabled-item{
      color: #999;
    }
  }
}
.windy-picker-modal-mask{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, .2);
  z-index: 100;
  .picker-modal{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    display: flex;
    .picker-item{
      flex: 1;
    }
    .picker-actions{
      background: inherit;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 1;
      border-bottom: 1px solid $color-border;
      .picker-modal-title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        text-align: center;
        @include no-wrap;
      }
      .cancel{
        color: #999999;
      }
      .submit{
        color: #1890ff;
      }
      .cancel, .submit{
        display: inline-block;
        padding: 9px 15px;
        &:active{
          opacity: .8;
        }
      }
    }
  }
}
.picker-enter {
  opacity: 0;
  .picker-modal{
    transform: translateY(100%);
  }
}
.picker-enter-active {
  opacity: 1;
  .picker-modal{
    transform: translateY(0);
  }
}
.picker-exit {
  opacity: 1;
  .picker-modal{
    transform: scale(1);
  }
}
.picker-exit-active {
  opacity: 0;
  .picker-modal{
    transform: translateY(100%);
  }
}
.picker-exit-done {
  opacity: 0;
  display: none;
}
.picker-enter-active, .picker-exit-active{
  transition: opacity .3s ease;
  .picker-modal{
    transition: transform .3s ease;
  }
}
